body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

main {
   margin: auto; 
   max-width: 1240px;
}

@media screen and (width <= 767px) {
    main {
        margin: 0;
    
    }
}

