.grid {
    background-color: var(--light-grey);
    border-radius: 25px;
    height: 829px;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}