.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0 4em 0;
    width: 1240px;  
    height: 68px;
}
.navbar img {
    width: 210.32px;
    height: 68px;
}

.liens {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    font-size: 24px;
    font-weight: 500;
    gap: 30px;
    line-height: 34.22px;
}
