.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0 4em 0;
    width: 100%;  
    height: 68px;
}

.navbar img {
    width: 210.32px;
    height: 68px;
}

.liens {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    gap: 30px;
    line-height: 34.22px;
}
.liens a {
    text-decoration: none;
    color: var(--main-color);
}

.liens a:hover {
    text-decoration: underline;
}


@media screen and (width <= 767px) {
    .navbar{
        padding: 10px 0 10px 0;
    }
    .liens {
        font-size: 12px;
    }
    .navbar img {
        width: 145px;
        height: 47px;
    }
}