:root {
    --main-color: #ff6060;
    --light-grey: #f6f6f6;
    --linear-gardient: linear-gradient(to top,#863535 12%, #ff6060 70%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 80px;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
