:root {
    --main-color: #ff6060;
    --light-grey: #f6f6f6;
    --linear-gardient: linear-gradient(to top,#863535 12%, #ff6060 70%);
}

body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

main {
   margin: auto; 
   max-width: 1240px;
}

@media screen and (width <= 767px) {
    main {
        margin: 0;
    
    }
}

